/* @charset "UTF-8"; */


#profile-cover {

    min-height: 20em;
    background-image: url(images/rich-turner-lecture-cropped.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
  }

a p::after {
    content: "↗";
    display: inline-block;
    font-family: mono;
    margin: 0 0 0 2px;
    font-size: 10px;
    line-height: 9px;
}
