/* @charset "UTF-8"; */

/* -- Defaults for rendering markdown -- */

/* Lists */
ul {
    list-style-type: disc;
    /* Change the color of the bullet points */
}

li::marker {
    color: rgb(228, 228, 228);
}

/* Links */
a {
    color: #b84a00;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


a:hover,
a:focus {
    color: #da854d;
    /* text-decoration: underline; */
    /* Slow transition */
    transition: color .15s ease-in;
    /* transition:cubic-bezier(0.645, 0.045, 0.355, 1); */
}

/* ^^ Defaults for rendering markdown ^^ */

#profile-cover {

    min-height: 20em;
    background-image: url(images/webpage-banner-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}


/* About section styling */

.about-and-menu {
    justify-content: left;
    display: flex;
    width: 100%;
    flex: 1;
    padding: 0em;
    padding-top: 3.5em;
    margin: 0em;
}

.menu-in-about {
    /* width: 10em; */
    flex: 1;
    max-width: 16em;
    margin-top: 0.0em;
    padding-top: 0.0em;
    margin-left: 0em;
    margin-right: 0em;
    /* padding-right: max(3em); */
    margin-top: 0.0em;
    /* margin-top: 1em; */
    padding-bottom: 0.5em;


    text-align: left;
    ;
}

.menu-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 0em;
    padding-bottom: 0.75em;

}

.menu-title h1 {

    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    font-weight: 300;
    margin: 0em;
    padding: 0em;
}


.menu-link {
    display: block;
    margin-right: 2em;
    margin-left: 1.0em;
    padding-left: 1em;
    /* margin-bottom: 0.5em;
    margin-top: 0.5em; */
    margin-bottom: 1.75em;
    margin-top: 1.75em;
    font-size: 0.85rem;
    text-transform: uppercase;
    /* Mid-gray */
    color: #555;
    letter-spacing: .1em;
    /* transition: transform 0.25s ease-out; */
    border-left: 0.1em solid rgb(228, 228, 228);
    border-right-style: solid;
    border-color: rgb(228, 228, 228);
    border-right-width: 0.0em;
    /* Transition effects */
    transition: color .15s ease-in-out, border-width .15s ease-in-out, border-radius .3s ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
    color: #000;
    border-right-width: 0.5em;
    border-left-width: 0.5em;
    border-color: black;
    transition: border-width .35s ease-in-out, border-color .35s ease-in-out, color .15s ease-in-out;
}

.about {
    max-width: 40em;
    padding-left: 2em;
    padding-right: 2.0em;
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: 0em;
    padding-top: 0.0em;
    border-left: 2px solid rgb(228, 228, 228);

    font-size: 1rem;
    line-height: 1.5;
}

.about a::after {
    list-style-type: none;
    content: "°";
    /* opacity: 0.3; */
}

.about p {
    margin-top: 0em;
    margin-bottom: 1em;
}

.apply {
    max-width: 32em;
    padding-left: 0em;
    padding-right: 0.0em;
    margin-left: 2em;
    margin-right: 0.5em;
    margin-top: 0em;
    padding-top: 0em;
}

.apply p {
    margin-top: 0em;
    margin-bottom: 2em;
}

.apply a::after {
    list-style-type: none;
    content: "°";
    /* opacity: 0.3; */
}

/* When screen is smaller than 56em */
@media screen and (max-width: 56em) {
    .about-and-menu {
        flex-direction: column;
    }

    .menu-in-about {
        max-width: 100%;
        border-width: .125rem;
        border-bottom-style: solid;
        border-color: rgb(228, 228, 228);
        margin-top: 0em;
        text-align: center;
        margin-bottom: 2em;
        padding-bottom: 1em;
        /* Match the padding left right to that of about */
        padding-left: 0em;
        padding-right: 0em;
        margin-left: 1em;
        margin-right: 1em;

    }

    .about {
        max-width: 100%;
        border-left-style: none;
        /* Match padding to that in menu-in-about */
        padding-left: 0em;
        padding-right: 0em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .menu-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: inline;
        border-left-width: 0em;
    }

    .menu-title {
        /* Hide */
        display: none;
    }
}

.news-wrapper-left {
    margin-bottom: 1.0em;
    max-width: 100%;
    min-height: 8em;
    position: relative;
    border-left: 2em solid;
    border-color: rgb(255, 255, 255);
    padding: 0em;
}

.news-wrapper-left-title {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0em;
    position: absolute;
    height: 2em;
    padding-top: 0.4rem;
    border-bottom: 0.1em solid black;
    display: inline;
    white-space: nowrap;
    padding-left: 1em;
    text-align: right;
    bottom: 100%;
    right: 100%;
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}

.news-wrapper-right {
    margin-bottom: 1.0em;
    max-width: 100%;
    min-height: 8em;
    position: relative;
    border-right: 2em solid;
    border-color: rgb(255, 255, 255);
    padding: 0em;
}

.news-wrapper-right-title {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0em;
    position: absolute;
    height: 2em;
    padding-top: 0.4rem;
    text-align: left;
    border-bottom: 0.2em solid black;
    display: inline;
    width: 8em;
    /* Same as min-height of the parent */
    bottom: 100%;
    left: 100%;
    transform: rotate(90deg);
    transform-origin: 0 100%;
}

a p::after {
    /* content: "↗"; */
    display: inline-block;
    font-family: mono;
    margin: 0 0 0 2px;
    font-size: 10px;
    line-height: 9px;
}

.section-header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 600;
    margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem);
}

.section-header span {
    display: block;
}

.section-header .divider {
    background: #000000;
    height: 2px;
    flex: 1;
    margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem)
}

.section-header h1 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    font-weight: 300;
}

.section-subheader {
    color: #818181;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 600;
    /* margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem); */
}

.section-subheader span {
    display: block
}

.section-subheader .divider {
    background: #7f7f7f;
    height: 1px;
    flex: 1;
    /* margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem) */
    margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem);
}

.section-subheader h2 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    font-weight: 300;
}

/* News */
.news-sub-info {
    /* margin: 0 0 0 0; */
    margin-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    /* margin-right: 0.6rem; */
    /* margin-top: auto; */
    /* padding: 0 0 0 0; */
    vertical-align: bottom;
    /* margin-top: auto; */
    display: flex;
    /* justify-content: space-between; */
    /* color: #818181; */
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 400;
    font-size: 0.7rem;
    /* margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem); */
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
}

.news-sub-info .news-type {
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: left;
    line-height: 1.25;
    letter-spacing: .1em;
    /* font-weight: 300; */
}

.news-sub-info .date {
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    /* text-transform: uppercase; */
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    /* font-weight: 300; */
}


.news-sub-info span {
    display: block
}

.news-sub-info .divider,
.former-member-date .divider {
    background: #000000;
    height: 1px;
    flex: 1;
    margin-left: clamp(.6888888889rem, 1.4285714286vw, 1.0333333333rem);
    margin-right: clamp(.6888888889rem, 1.4285714286vw, 1.0333333333rem);
}


/* New members section */


.members-block {
    display: flex;
    flex-direction: column;
    padding: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem) 0
}

.members {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem);
    column-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem);
    row-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem)
}

@media (min-width: 640px) {
    .members {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media (min-width: 920px) {
    .members {
        grid-template-columns: repeat(2, 1fr)
    }
}


.members .member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    /* No gap between image and info */

    /* display: flex; */
    /* align-items: stretch; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 0; */
    /* No gap between image and info */
    /* font-family: sans-serif; */
    /* color: black; */
}

.members .member .member-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* Maintain a square aspect ratio */

    /* font-size: 0; */
    /* display: block; */
    /* overflow: hidden; */
    /* margin: 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem); */
    /* cursor: pointer; */
    /* width: 50%; */
    /* height: auto; */
    /* object-fit: cover; */
    /* aspect-ratio: 1 / 1; */
    /* background-color: #da854d; */
    /* top: 0; */
    /* left: 0; */
    /* object-position: center; */
}

.members .member:hover {
    opacity: .7;
    color: #c04d00;
    transition: opacity .2s ease-in-out, color .15s ease-in-out;
}

.member-meta {
    color: black;
    /* border: 0.2em solid black; */
    border-left-style: none;
    border-top: 0.2em solid rgb(228, 228, 228);
    border-bottom: 0.2em solid rgb(228, 228, 228);
    border-right: 0.2em solid rgb(228, 228, 228);
    /* Or any desired border style */
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* Align text in center */
    padding: 10px;
    /* Optional padding for inner spacing */

    /* display: flex; */
    /* flex-direction: column */
    /* width: 50%; */
    /* border: 1px solid black; */
    /* Or any desired border style */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* Align text in center */
    /* padding: 10px; */
    /* Optional padding for inner spacing */
}

.member-meta .role {
    color: rgb(98, 98, 98);
    display: block;
    padding-top: clamp(.2444444444rem, 1.1904761905vw, 0.4111111111rem);
    margin: 0 0 clamp(.2222222222rem, .4761904762vw, .4444444444rem);
    font-size: clamp(.6666666667rem, .7738095238vw, .7222222222rem);
    letter-spacing: .12em;
    text-transform: uppercase
}

.member-meta .member-name-company {
    /* margin: .2rem; */
    margin-top: .1rem;
    margin-bottom: .2rem;
    font-size: clamp(1rem, 1.1904761905vw, 1.3111111111rem);
    line-height: 1.35;
    font-weight: 600;
    /* font-weight: bolder; */
    /* letter-spacing: 0.2em; */
}

/* .members .member .member-meta .member-name-company .pronoun {
    font-weight: 400;
    opacity: .7
} */

.member-meta .member-bio {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 0.8rem;
    /* font-size: clamp(.8888888889rem, 1.0714285714vw, 1rem); */
    line-height: 1.35;
    font-weight: 200;
}

.former-member {
    border-left: 0.2em solid rgb(228, 228, 228);
    border-top: 0.2em solid rgb(228, 228, 228);
    border-bottom: 0.2em solid rgb(228, 228, 228);
    border-right: 0.2em solid rgb(228, 228, 228);
}

.former-member .member-meta {
    border-style: none;
}

.former-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: clamp(.44444rem, 1.15vw, 1.111111rem);
    column-gap: clamp(.444444rem, 1.15vw, 1.11111rem);
    row-gap: clamp(.444444rem, 1.15vw, 1.11111rem);
}

@media (min-width: 640px) {
    .former-members {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width: 920px) {
    .former-members {
        grid-template-columns: repeat(4, 1fr)
    }
}

.former-member-date {
    /* margin: 0 0 0 0; */
    margin-bottom: 0.3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1.35;
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: auto;
    /* Push to bottom */

}


.former-member-date .dateend {
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
}

.former-member-date .datestart {
    text-align: left;
    line-height: 1.25;
    letter-spacing: .1em;
}


.former-member-date span {
    display: block
}