/* @charset "UTF-8"; */

/* -- Defaults for rendering markdown -- */

/* Lists */
ul {
    list-style-type: disc;
    /* Change the color of the bullet points */
}

li::marker {
    color: rgb(228, 228, 228);
}

/* Links */
a {
    color: #b84a00;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


a:hover,
a:focus {
    color: #da854d;
    /* text-decoration: underline; */
    /* Slow transition */
    transition: color .15s ease-in;
    /* transition:cubic-bezier(0.645, 0.045, 0.355, 1); */
}

/* ^^ Defaults for rendering markdown ^^ */

#profile-cover {

    min-height: 20em;
    background-image: url(images/webpage-banner-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}


/* About section styling */

.about-and-menu {
    justify-content: center;
    display: flex;
    width: 100%;
    flex: 1;
    padding-top: 2em;
}

.menu-in-about {
    /* width: 10em; */
    flex: 1;
    max-width: 13em;

    margin-top: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    /* padding-right: max(3em); */
    margin-top: 0.5em;
    /* margin-top: 1em; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border-width: .25rem;
    border-top-style: solid;
    border-bottom-style: none;
    /* padding-left: 1em; */

    text-align: left;
    ;
}

.menu-title {
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0.75rem;
    /* padding-bottom: 0em; */
}

.menu-link {
    display: block;
    margin-right: 2em;
    margin-left: 0.5em;
    /* margin-bottom: 0.5em;
    margin-top: 0.5em; */
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    font-size: 0.75rem;
    text-transform: uppercase;
    /* Mid-gray */
    color: #555;
    letter-spacing: .1em;
    /* Transition effects */
    transition: color .15s ease-in;
    /* transition: transform 0.25s ease-out; */
}

.menu-link:hover,
.menu-link:focus {
    color: #000;
    transition: color .15s ease-in;
}

.about {
    max-width: 50em;
    padding-left: 2em;
    padding-right: 0.5em;
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: 2em;
    padding-top: 0.6em;
    /* border-left: 1px solid rgb(228, 228, 228); */
    /* border-right: 0.05em solid rgb(228, 228, 228); */

    font-size: 1rem;
    line-height: 1.5;
    /* padding: 1em 1em 0em 0em; */
}

.about a::after {
    list-style-type: none;
    content: "°";
    /* opacity: 0.3; */
}

.about p {
    margin-top: 0em;
    margin-bottom: 1em;
}

.apply {
    max-width: 60em;
    padding-left: 0em;
    padding-right: 0.5em;
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: 0em;
    padding-top: 0em;
}

.apply a::after {
    list-style-type: none;
    content: "°";
    /* opacity: 0.3; */
}

/* When screen is smaller than 56em */
@media screen and (max-width: 56em) {
    .about-and-menu {
        flex-direction: column;
    }

    .menu-in-about {
        max-width: 100%;
        border-width: .125rem;
        border-bottom-style: solid;
        margin-top: 0em;
        text-align: center;
        margin-bottom: 1em;
    }

    .about {
        max-width: 100%;
    }

    .menu-link {
        display: inline;
    }

    .menu-title {
        /* Hide */
        display: none;
    }
}

.news-wrapper-left {
    margin-bottom: 1.0em;
    max-width: 100%;
    min-height: 8em;
    position: relative;
    border-left: 2em solid;
    border-color: rgb(255, 255, 255);
    padding: 0em;
}

.news-wrapper-left-title {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0em;
    position: absolute;
    height: 2em;
    padding-top: 0.4rem;
    border-bottom: 0.1em solid black;
    display: inline;
    white-space: nowrap;
    padding-left: 1em;
    text-align: right;
    bottom: 100%;
    right: 100%;
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}

.news-wrapper-right {
    margin-bottom: 1.0em;
    max-width: 100%;
    min-height: 8em;
    position: relative;
    border-right: 2em solid;
    border-color: rgb(255, 255, 255);
    padding: 0em;
}

.news-wrapper-right-title {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0em;
    position: absolute;
    height: 2em;
    padding-top: 0.4rem;
    text-align: left;
    border-bottom: 0.2em solid black;
    display: inline;
    width: 8em;
    /* Same as min-height of the parent */
    bottom: 100%;
    left: 100%;
    transform: rotate(90deg);
    transform-origin: 0 100%;
}

a p::after {
    /* content: "↗"; */
    display: inline-block;
    font-family: mono;
    margin: 0 0 0 2px;
    font-size: 10px;
    line-height: 9px;
}

.section-header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 600;
    margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem);
}

.section-header span {
    display: block;
}

.section-header .divider {
    background: #000000;
    height: 2px;
    flex: 1;
    margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem)
}

.section-header h1 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    font-weight: 300;
}

.section-subheader {
    color: #818181;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 600;
    /* margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem); */
}

.section-subheader span {
    display: block
}

.section-subheader .divider {
    background: #7f7f7f;
    height: 1px;
    flex: 1;
    /* margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem) */
    margin: 0 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem) ;
}

.section-subheader h2 {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    font-weight: 300;
}

/* News */
.news-sub-info {
    /* margin: 0 0 0 0; */
    margin-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    /* margin-right: 0.6rem; */
    /* margin-top: auto; */
    /* padding: 0 0 0 0; */
    vertical-align: bottom;
    /* margin-top: auto; */
    display: flex;
    /* justify-content: space-between; */
    /* color: #818181; */
    display: flex;
    align-items: center;
    width: 100%;
    font-size: clamp(1rem, 1.1904761905vw, 1.1111111111rem);
    line-height: 1.35;
    font-weight: 400;
    font-size: 0.7rem;
    /* margin: 0 0 clamp(1.3333333333rem, 2.380952381vw, 2.2222222222rem); */
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
}

.news-sub-info .news-type {
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: left;
    line-height: 1.25;
    letter-spacing: .1em;
    /* font-weight: 300; */
}

.news-sub-info .date {
    /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    /* text-transform: uppercase; */
    text-align: right;
    line-height: 1.25;
    letter-spacing: .1em;
    /* font-weight: 300; */
}


.news-sub-info span {
    display: block
}

.news-sub-info .divider {
    background: #000000;
    height: 1px;
    flex: 1;
    margin-left: clamp(.6888888889rem, 1.4285714286vw, 1.0333333333rem);
    margin-right: clamp(.6888888889rem, 1.4285714286vw, 1.0333333333rem);
}


/* .member-box a {
    color: black;
}

.member-image {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 0.125em;
}

.member-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    height: 84%;
    padding: 8%;
    object-fit: cover;
    object-position: center;
    box-shadow:
        -50px -50px 0 -40px red,
        50px 50px 0 -40px red;
} */

/* New members section */


.members-block {
    display: flex;
    flex-direction: column;
    padding: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem) 0
}

.members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem);
    column-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem);
    row-gap: clamp(.8888888889rem, 2.380952381vw, 2.2222222222rem)
}

@media (min-width: 640px) {
    .members {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width: 920px) {
    .members {
        grid-template-columns: repeat(4, 1fr)
    }
}

.members .member:last-child {
    display: none
}

@media (min-width: 640px) {
    .members .member:last-child {
        display: block
    }
}

.members .member {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: black;
}

.members .member .member-photo {
    font-size: 0;
    display: block;
    overflow: hidden;
    margin: 0 0 clamp(.8888888889rem, 1.4285714286vw, 1.3333333333rem);
    cursor: pointer
}

.members .member img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: #da854d;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* The image will cover the container maintaining aspect ratio */
    object-position: center;
}

.members .member:hover {
    opacity: .7;
    color: #c04d00;
    transition: opacity .2s ease-in-out, color .15s ease-in-out;
}

.members .member .member-meta {
    display: flex;
    flex-direction: column
}

.members .member .member-meta .role {
    color: rgb(98, 98, 98);
    display: block;
    margin: 0 0 clamp(.2222222222rem, .4761904762vw, .4444444444rem);
    font-size: clamp(.6666666667rem, .7738095238vw, .7222222222rem);
    letter-spacing: .12em;
    text-transform: uppercase
}

.members .member .member-meta .member-name-company {
    /* margin: .2rem; */
    margin-top: .1rem;
    margin-bottom: .2rem;
    font-size: clamp(1rem, 1.1904761905vw, 1.3111111111rem);
    line-height: 1.35;
    font-weight: 600;
    /* font-weight: bolder; */
    /* letter-spacing: 0.2em; */
}

/* .members .member .member-meta .member-name-company .pronoun {
    font-weight: 400;
    opacity: .7
} */

.members .member .member-meta .member-bio {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 0.8rem;
    /* font-size: clamp(.8888888889rem, 1.0714285714vw, 1rem); */
    line-height: 1.35;
    font-weight: 200;
}
