{% comment %} <div class="fl w-100 w-third-ns link dim ba bw0 pa2 mv2 mh2 mh0-ns member-box" style="height:100%;"> {% endcomment %}
<a href="{{ post.website }}" class="former-member dim" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);">
{% comment %} <div class="former-member h-100 member-meta"> {% endcomment %}
    <div class="member-meta" style="height: 100%;">
        <div class="flex flex-column h-100" style="height: 100%;">
{% comment %} <a href="{{ post.website }}" style="width: 100%; height:100%; display: block; color: black;"> {% endcomment %}
    <!-- <article> -->
    {% comment %} <div class="member-meta"> {% endcomment %}
        <div class="role">
            {% if post.role %}
                {% if post.role == "Postdoctoral researcher" %}
                Postdoc
                {% elsif post.role == "Research assistant" %}
                Research assistant
                {% elsif post.role == "PhD student" %}
                PhD
                {% else %}
                {{ post.role }}
                {% endif %}
            {% endif %}
        </div>
        <h2 class="member-name-company">
            <span class="name">
                {{ post.name }}
            </span>
        </h2>
        <noindex>
            <p class="member-bio">
                {% if post.thesis %}
                    <b>Thesis</b>: {{ post.thesis }}
                    <br>
                    <br>
                {% endif %}
                {% if post.next_role %}
                    <b>Next</b>: {{ post.next_role }}
                    <br>
                {% endif %}
            </p>
        </noindex>
        {% comment %} </div> {% endcomment %}
        <div class="former-member-date v-btm gray">
            {% if post.start %}
            {% if post.end %}
                <div class="datestart">
                    {{post.start}}
                </div>
                    <span class="divider"></span>
                <div class="dateend">
                    {{post.end}}
                </div>
            {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</a>
{% comment %} </div> {% endcomment %}