{% comment %} <div class="fl w-100 w-third-ns link dim ba bw0 pa2 mv2 mh2 mh0-ns member-box" style="height=100%;"> {% endcomment %}
<div class="former-member h-100 member-meta">
<a href="{{ post.website }}" style="width: 100%; height=100%; display: block; color: black;">
    <!-- <article> -->
    {% comment %} <div class="member-meta"> {% endcomment %}
        <div class="role">
            {% if post.role %}
                {% if post.role == "Postdoctoral researcher" %}
                Postdoc
                {% elsif post.role == "Research assistant" %}
                Research assistant
                {% elsif post.role == "PhD student" %}
                PhD
                {% else %}
                {{ post.role }}
                {% endif %}
            {% endif %}
            <span style="color: rgb(150,150,150); font-size: 0.6rem;">
                {% if post.start %}
                {% if post.end %}
                    {% if post.start != post.end %}
                        | {{post.start}}-{{post.end}}
                    {% endif %}
                {% endif %}
                {% endif %}
            </span>
        </div>
        <h2 class="member-name-company">
            <span class="name">
                {{ post.name }}
            </span>
        </h2>
        <noindex>
            <p class="member-bio">
                {% if post.thesis %}
                    <b>Thesis</b>: {{ post.thesis }}
                    <br>
                {% endif %}
                {% if post.next_role %}
                    <b>Next</b>: {{ post.next_role }}
                    <br>
                {% endif %}
            </p>
        </noindex>
    {% comment %} </div> {% endcomment %}
    <!-- </article> -->
    </a>
</div>