{% assign entries = site[include.collection] %}

{% if include.sort_by %}
    {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == "reverse" %}
    {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
{%- unless post.hidden -%}
    {% if include.collection == "papers" %}
        {% include publication_item.html %}
    {% endif %}
    
    {% if include.collection == "tutorials" %}
        {% include publication_item.html %}
    {% endif %}
    
    {% if include.collection == "blogs" %}
        {% include publication_item.html %}
    {% endif %}
    
    {% if include.collection == "news" %}
        {%- include news_item.html %}
    {% endif %}
    {% if include.collection == "current" %}
        {% include current_member.html %}
    {% endif %}
    {% if include.collection == "former" %}
        {% include former_member.html %}
    {% endif %}
    {% if include.collection == "apply" %}
        {% include paragraph.html %}
    {% endif %}
    {% if include.collection == "about" %}
        {% include paragraph.html %}
    {% endif %}
{%- endunless -%}
{%- endfor -%}