{% assign entries = site[include.collection] %}

{% if include.sort_by %}
    {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == "reverse" %}
    {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
{%- unless post.hidden -%}
    {% if include.collection == "papers" %}
        {% include publication_item.html post_index=forloop.index0 num_posts=entries.size %}
    {% endif %}
    
    {% if include.collection == "tutorials" %}
        {% include publication_item.html post_index=forloop.index0 num_posts=entries.size %}
    {% endif %}
    
    {% if include.collection == "blogs" %}
        {% include publication_item.html post_index=forloop.index0 num_posts=entries.size %}
    {% endif %}
    
    {% if include.collection == "news" %}
        {%- include news_item.html post_index=forloop.index0 num_posts=entries.size %}
    {% endif %}

    {% if include.collection == "former" %}
        {% include former_member.html %}
    {% endif %}

    {% if include.collection == "apply" %}
        {% include paragraph.html %}
    {% endif %}
    
    {% if include.collection == "about" %}
        {% include paragraph.html %}
    {% endif %}
{%- endunless -%}
{%- endfor -%}

{% if include.collection == "current"%}

    {%- for post in entries -%}
    {%- unless post.hidden -%}
        {% if post.role == "Postdoctoral researcher" %}
        {% include current_member.html %}
        {% endif %}
    {%- endunless -%}
    {%- endfor -%}

    {%- for post in entries -%}
    {%- unless post.hidden -%}
        {% if post.role == "PhD student" %}
        {% include current_member.html %}
        {% endif %}
    {%- endunless -%}
    {%- endfor -%}

    {%- for post in entries -%}
    {%- unless post.hidden -%}
        {% if post.role == "Research assistant" %}
        {% include current_member.html %}
        {% endif %}
    {%- endunless -%}
    {%- endfor -%}

{% endif %}
