{% assign entries = site[include.collection] %}

{% if include.sort_by %}
{% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
{% assign entries = entries | reverse %}
{% endif %}

{% if include.type == 'current_member' %}
    {%- for post in entries -%}
    {%- unless post.hidden -%}
        {% include current_member.html %}
    {%- endunless -%}
    {%- endfor -%}
{% endif %}

{% if include.type == 'former_member' %}
    {%- for post in entries -%}
    {%- unless post.hidden -%}
        {% include former_member.html %}
    {%- endunless -%}
    {%- endfor -%}
{% endif %}