
<a href="{{post.link}}" class="link dim fl w-100 w-30-l w-40-m pa2 ma2 outline ba black-80 bg-light-gray"
    style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="flex flex-column" style="height: 100%;">

        <div class="flex w-100 v-top" style="margin-bottom: auto; flex-direction: column;
        justify-content: space-between;">

            <p class="f7 ttu tracked bb mb0 pb2">
                {{ post.venue }}
            </p>
            <h3 class="fw6 avenir mt3 lh-copy", style="font-size: 1rem">
                <span class="fw6"> {{ post.title }} </span>
            </h3>
        </div>
        <div class="news-sub-info v-btm">
            <div class="news-type">
                {{ post.type }}
            </div>
            <span class="divider"></span>
            <div class="date">
                {{post.date |date:'%b %Y'}}
            </div>
        </div>
    </div>

</a>