{% if include.items_in_row == 2 %}
<div class="w-100 w-50-l w-50-m ph2 pb2">
{% elsif include.items_in_row == 3 %}
<div class="w-100 w-third-l w-third-m ph2 pb2">
{% elsif include.items_in_row == 4 %}
<div class="w-100 w-25-l w-50-m ph2 pb2">
{% else %}
<div class="w-100 ph2 pb2">
{% endif %}
    <a href="{{post.link}}" class="fl w-100 h-100 pa2 link dim outline ba black-80 bg-light-gray"
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="flex flex-column" style="height: 100%;">

            <div class="flex w-100 v-top" style="margin-bottom: auto; flex-direction: column;
            justify-content: space-between;">

                <p class="f7 ttu tracked bb mb0 pb2 athelas">
                    {{ post.venue }}
                </p>
                <h3 class="fw6 avenir mt3 lh-copy", style="font-size: 1rem">
                    <span class="fw6"> {{ post.title }} </span>
                </h3>
            </div>
            <div class="news-sub-info v-btm">
                <div class="news-type">
                    {{ post.type }}
                </div>
                <span class="divider"></span>
                <div class="date">
                    {{post.date |date:'%b %Y'}}
                </div>
            </div>
        </div>

    </a>
</div>