{%- assign size = include.num_posts -%}
{%- if size == 1 -%}
      <div class="w-100 ph2 pb2">
{%- elseif size == 2 -%}
      <div class="w-100 w-50-l w-50-m ph2 pb2">
{%- elseif size == 5 -%}
  {%- assign last_three_threshold = size | minus: 3 -%}
  {%- if post_index < 2 -%}
      <div class="w-100 w-50-l w-50-m ph2 pb2">
  {%- else -%}
     <div class="w-100 w-third-l w-third-m ph2 pb2">
  {%- endif -%}
{%- else -%}
  {% comment %} --- GENERAL CASE LOGIC --- {% endcomment %}
  {% assign remainder = size | modulo: 3 %}

  {% if remainder == 0 %}
    {% comment %} All groups of 3 {% endcomment %}
    {% assign num_threes = size %}
  {% elsif remainder == 1 %}
    {% comment %} One group of 4, rest are 3s {% endcomment %}
    {% assign num_threes = size | minus: 4 %}
  {% elsif remainder == 2 %}
    {% comment %} Two groups of 4, rest are 3s {% endcomment %}
    {% assign num_threes = size | minus: 8 %}
  {% endif %}
  {% if post_index < num_threes %}
       <div class="w-100 w-third-l w-third-m ph2 pb2">
  {% else %}
      <div class="w-100 w-25-l w-50-m ph2 pb2">

  {% endif %}
{%- endif -%}
    <a href="{{post.link}}" class="w-100 h-100 link dim fl pa2 ma0 outline ba mr0 black-80 bg-light-gray"
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="flex flex-column h-100" style="height: 100%;">
            <div class="flex w-100 v-top ph2" style="margin-bottom: auto;         flex-direction: column;
            justify-content: space-between;">
                <h3 class="fw6 avenir mt3 lh-copy" style="font-size: 1rem; min-height: 6rem; text-wrap: pretty;">
                    <span class="fw6"> {{ post.title }} </span>
                    <br>
                    <span class="fw4 gray">
                        {{ post.authors }}
                    </span>
                </h3>
            </div>
            <div class="news-sub-info v-btm">
                <div class="news-type">
                    {{ post.type }}
                </div>
                <span class="divider"></span>
                <div class="date">
                    {{ post.year }}
                </div>
            </div>
        </div>
    </a>
</div>
