<!doctype html>
<html>

<head>
    <title>Rich Turner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <!-- <link rel="icon" href="images/tab_icon.svg"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="fonts/CooperHewitt/stylesheet.css"> -->
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- <link href="style_lovers_magazine.css" rel="stylesheet" type="text/css"> -->
</head>

<body class="avenir">
    <article>
        <div class="db w-100 tc bg-black white cover flex flex-column" id="profile-cover">
            <div class="w-100 v-top" style="margin-bottom: auto;">
                <header class="white-50">
                    <h2 class="f6 fw1 mb2 lh-title"> </h2>
                    <!-- <h3 class="f6 fw1 lh-title">Maybe a quote here</h3> -->
                </header>
            </div>
            <div class="w-100 v-btm">
                <!-- <h1 class="f1 f-headline-l fw1 i white-60">Richard Turner</h1> -->
                <blockquote class="ph0 ph2 center tracked">
                    <!-- p class="f4 ttu tracked fs-normal mb0"> Richard Turner</p-->
                    <!--p class="f6 fw1 white-90 mb0">
                         Machine Learning Group | Department of Engineering | University of Cambridge
                    </p-->
                </blockquote>
            </div>
        </div>
    </article>
    <!-- <section class="measure-wide center b--light-gray br1 bl br mh3 bg-white"> -->
    <section class="center pa4" style="max-width: 65em;">
        <div class="about-and-menu" id="about-and-menu">
            <div class="menu-in-about">
                <div class=menu-title>
                    <h1>Turner Group</h1>
                </div>
                    <a class="menu-link" href="#about-and-menu">About</a>
                    <a class="menu-link" href="#work">Work</a>
                    <a class="menu-link" href="#news">News</a>
                    <a class="menu-link" href="#apply">Apply</a>
                    <a class="menu-link" href="#group-members">Group</a>

            </div>
            <div class="about">
                {% include list.html collection="about" %}
            </div>

        </div>

    </section>
    <section class="center pa4" style="max-width: 65em;">
        <div class="section-header" id="work">
            <h1> Selected work</h1>
            <div class="divider"></div>
        </div>

        <div class="news-wrapper-left">
            <h3 class="news-wrapper-left-title sans-serif fw1">Papers</h3>
            <div class="flex flex-wrap cf pl0 pb2">
                {% assign papers = site.papers %}
                {% assign number_of_items = papers.size %}
                {% include list.html collection="papers" sort_by="year" sort_order="reverse" items_in_row=number_of_items %}
            </div>
        </div>

        <div class="news-wrapper-left">
            <h3 class="news-wrapper-left-title sans-serif fw1">Tutorials</h3>
            <!-- <div class="bl bw3 bc-gray bg-yellow" style="width:100%; height: 100%; position: absolute;"></div> -->
            <div class="flex flex-wrap cf pl0 pb2">
                {% assign tutorials = site.tutorials %}
                {% assign number_of_items = tutorials.size %}
                {% include list.html collection="tutorials" sort_by="year" sort_order="reverse" items_in_row=number_of_items %}
            </div>
        </div>

        <div class="news-wrapper-left">
            <h3 class="news-wrapper-left-title sans-serif fw1">Blog posts</h3>
            <div class="flex flex-wrap cf w-100 pl0 pb2">
                {% assign blogs = site.blogs %}
                {% assign number_of_items = blogs.size %}
                {% include list.html collection="blogs" sort_by="year" items_in_row=number_of_items %}
            </div>
        </div>

    </section>

    <section class="center pa4" style="max-width: 65em;" id="news">
        <div class="section-header">
            <h1>Recent news</h1>
            <div class="divider"></div>
        </div>
        <div class="ma0" style="margin-left: 2em;">
            <div class="flex flex-wrap cf w-100-l w-100-m w-100-s">
                {% assign news = site.news %}
                {% assign number_of_items = news.size %}
                {% include list.html collection="news" sort_by="date" sort_order="reverse" items_in_row=number_of_items %}
            </div>
        </div>
    </section>

    <article class="center pa4" style="max-width: 65em;" id="apply">
        <div class="section-header">
            <h1>Apply</h1>
            <div class="divider"></div>
        </div>
        <div>
            <div class="apply">
                {% include list.html collection="apply" %}
            </div>
        </div>
    </article>

    <article class="center pa4" style="max-width: 65em;" id="group-members">
        <div class="section-header">
            <h1>Group members</h1>
            <div class="divider"></div>
        </div>
        <div class="section-subheader">
            <h2>Current</h2>
            <div class="divider"></div>
        </div>
        <div class="center w-100">
            <section class="members-block">
                <!-- <section class="interview-block" id="featured-interviews"> -->
                <div class="members">
                    {% include list.html collection="current" sort_by="start" %}
                </div>
            </section>
        </div>

        <div class="section-subheader">
            <h2>Former</h2>
            <div class="divider"></div>
        </div>
        <div class="center w-100">
            <div class="members-block">
                <div class="former-members">
                {% include list.html collection="former" sort_by="end" sort_order="reverse"%}
                </div>
            </div>
        </div>
        </div>
    </article>
    <!-- </section> -->

</body>

</html>