<!doctype html>
<html>

<head>
    <title>Rich Turner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- <link rel="icon" href="images/tab_icon.svg"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="fonts/CooperHewitt/stylesheet.css"> -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet"> -->
</head>

<body>
    <article class="athelas">
        <div class="db w-100 tc bg-black white cover flex flex-column" id="profile-cover">
            <div class="w-100 v-top" style="margin-bottom: auto;">
                <header class="white-60">
                    <h2 class="f6 fw1 ttu tracked mb2 lh-title">Home | Group | Apply</h2>
                    <h3 class="f6 fw1 lh-title">Maybe a quote here</h3>
                </header>
            </div>
            <div class="w-100 v-btm">
                <!-- <h1 class="f1 f-headline-l fw1 i white-60">Richard Turner</h1> -->
                <blockquote class="ph0 ph2 center tracked">
                    <p class="f5 ttu tracked fs-normal mb0">Richard turner</p>
                    <p class="f7 fw1 white-90 mb0">
                        Professor of Machine Learning | University of Cambridge
                    </p>
                </blockquote>
            </div>
        </div>
    </article>
    <!-- <section class="measure-wide center b--light-gray br1 bl br mh3 bg-white"> -->
    <article class="athelas">
        <div class="center measure-wide f5 pv3 lh-copy ph2">
          {{ content }}
        </div>
      </article>
            
    <article class="">
        <div class="center lh-copy ma2 pa1">
            <div class="w-70-l w-100-m w-100-s center ph3">
                <h1 class="f2 lh-title bb bw1 black-60">Selected publication</h1>
            </div>
        </div>
        <div>
            <div class="flex center tl ph3 w-70-l w-100-m w-100-s">
                {% include list.html collection="publications" sort_by="date" sort_order="reverse"%}
            </div>
        </div>
    </article>

      <article class="">
        <div class="center lh-copy ma2 pa1">
            <div class="w-70-l w-100-m w-100-s center ph3">
                <h1 class="f2 lh-title bb bw1 black-60">Appearances</h1>
            </div>
        </div>
        <div>
          <div class="flex center tl ph3 w-70-l w-100-m w-100-s">
            {% include list.html collection="news" sort_by="date" sort_order="reverse"%}
          </div>
        </div>
      </article>

      <article class="">
        <div class="center measure-wide lh-copy ma2 pa1">
            <div class="measure-wide center">

                <h1 class="f2 lh-title bb bw1">Group members</h1>
            </div>
            
            <div>
                <h2>Current members </h2>
                {% include list.html collection="postdoc" sort_by="start" %}
                {% include list.html collection="student" sort_by="start" %}
                <h2> Former members </h2>
                {% include list.html collection="former" sort_by="start" sort_order="reverse"%}
            </div>
            
        </div>
        </article>
<!-- </section> -->

</body>

</html>
